<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>name:</strong>
  <%= @blog.user.name %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url %>
</p>

<% if current_user.id == @blog.user.id %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end %>
<%= link_to 'Back', blogs_path %>
