<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>Image:</strong>
  <% if @user.image.url.present? %>
    <%= image_tag @user.image.url %>
  <% end %>
</p>

<% if current_user.id == @user.id %>
　<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<p><%= link_to 'blog', blogs_path, class: "btn btn-default"  %></p>
